.link--card__link{
    background: #ED96A3 !important;
    border-color: transparent !important;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Dosis Semibold";
    text-decoration: none;
}