@font-face {
    font-family: "Dosis Regular";
    src: url(assets/fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: "Dosis SemiBold";
    src: url(assets/fonts/Dosis-SemiBold.ttf);
}

@font-face {
    font-family: "Dosis Bold";
    src: url(assets/fonts/Dosis-Bold.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}